*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "nunito sans";
}

.content{
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
}

@keyframes cambiar{
    0%{background-position: 0, 100%;}
    50%{background-position: 100%, 50%;}
    100%{background-position: 0, 50%;}
}


.content caption {
    margin: 20px 0px;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    filter: drop-shadow(0px 2px 1px rgb(0, 0, 0));
}

.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 80%;
    margin: 0 auto;
    margin-top: -2rem;
    text-align: center;
    color: #ffffff;
}
.container h2{
filter: drop-shadow(0px 2px 1px rgb(0, 0, 0));
}
.btnIr{
    display: flex;
    justify-content: center;
}

.btnIr button{
    background-color: #ae00ff;
    font-size: 1.4rem;
    width: 300px;
    border:none;
    outline: none;
    cursor: pointer;
    border-radius: .7rem;
    color: #ffffff;
    text-transform: uppercase;
}

button:hover{
    background-color: black;
    color: #8c00ff;
    font-weight: bold;
    transition: 0.5s;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.form input{
    margin-bottom: 1rem;
    text-align: center;
    font-size:1.5rem;
    border-radius: .6rem;
    outline: none;
    border: none;

}

.form button{
    background-color: #ae00ff;
    font-size: 1.4rem;
    width: 100%;
    border:none;
    outline: none;
    cursor: pointer;
    margin:auto;
    transition: 2s;
    border-radius: .7rem;
    color: #ffffff;
    
}

.formEditar {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
}

.formEditar input{
    margin-bottom: 1rem;
    text-align: center;
    font-size:1.5rem;
    border-radius: .6rem;
    outline: none;
    border: none;

}

.formEditar button{
    background-color: #ae00ff;
    font-size: 1.4rem;
    width: 100%;
    border:none;
    outline: none;
    cursor: pointer;
    margin:auto;
    transition: 2s;
    border-radius: .7rem;
    color: #ffffff;
    
}

.bg{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
}

.bg__popUp{
    background-color: black;
    width: 40%;
    padding:2rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.btn__popUp {
    margin: auto;
    width: 400px;
}

.btn__popUp button{
    background-color: #ff000d;
    font-size: 1.4rem;
    width: 100%;
    border:none;
    outline: none;
    cursor: pointer;
    margin:auto;
    transition: 2s;
    margin-top: .5rem;
    border-radius: .7rem;
    color: #ffffff;
}

td button{
    background-color: #ae00ff;
    padding: 10px;
    margin: auto;
    border:none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    color: #ffffff;
}

.btnContenedor{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.btnContenedor button{
    height:auto;
    width: 40px;
    font-size: 30px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    text-transform:uppercase;
    border:none;
    cursor: pointer;
    box-shadow: 3px 2px 0 0 #fe2d52;
    filter: drop-shadow(-2px -2px 0 #28ffff);
}

.btnContenedor button:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}

.creador{
    margin-top:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a__creador{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    
}

.a__creador:nth-child(1){
    margin-right: 2rem;
}

.creado__cohete, .creado__linkedin {
    width: 40px;
    height: 40px;
}

/* Tuneada */
table{
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    table-layout: fixed;
    height: auto;
    margin-bottom: 50px;
    padding: 0px 50px;
    border: 1px solid white;
}

table thead{
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.418);
    color: wheat;
}

table tr{
    border: 1px solid #ddd;
}

table td, table th{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    filter: drop-shadow(0px 2px 1px rgb(0, 0, 0));
}
td input{
    width: 80%;
    text-align: center;
}

.formEditar div{
    display: flex;
    color: white;
    align-items: center;
    padding: 10px;
}

.formEditar div input{
    margin: 0px;
    height: 20px;
    width: 20px;
}

.formEditar div label{
    width: 120px;
}

#paginado{
    font-family: monospace;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    background-color: white;
    border: 1px;
    width: 60px;
    height: 30px;
    box-shadow: 3px 2px 0 0 #fe2d52;
    filter: drop-shadow(-2px -2px 0 #28ffff);
}
.oculta{
    display: none;
}

@media only screen and (max-width: 600px) {
    .content{
        height: 100%;
    }
    table{
        border: 0px;
        max-width: 350px;
    }
    table caption {
        font-size: 22px;
    }
    table thead{
        display: none;
    }
    table tr{
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
        border-radius: 10px;
    }
    table th, table td{
        font-size: 12px;
    }
    table td{
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
        padding: 0px 20px;
    }
    table td:last-child{
        border-bottom: 0px;
    }
    table td::before{
         content: attr(data-label);
         font-weight: bold;
         text-transform: uppercase;
         float: left;
    }
    td button{
        padding: 7px;
        border-radius: 5px;
    }

    .formEditar div{
        flex-wrap: wrap;
        justify-content: center;
    }

        
}

/* Fin Tuneada */

@media (min-width: 280px ) and (max-width: 600px ){
    .creador{
        margin-top:1rem;
        display: flex;
        flex-direction: column;
    }
    .a__creador{
        font-size: 1rem;
        
    }
}

@media (min-width: 800px ) and (max-width: 1090px ){
    .container h2 {
        font-size: 1.3rem;
    }
}

@media (min-width: 675px ) and (max-width: 799px ){
    .container h2 {
        font-size: 1em;
    }
    table td, table th{
        font-size: 1rem;
    }
}


@media (min-width: 280px ) and (max-width: 674px ){
    .container{
        width: auto;  
    }
    .container h2 {
        font-size: 1em;
    }
    table td, table th{
        font-size: 1rem;
    }
}

@media (min-width: 280px ) and (max-width: 1025px ){
    .form{
        width: auto;
    }
    .btn__popUp{
        width: auto;
    }
    .btn__popUp button{
        width: 100%;
    }

    .formEditar{
        width: auto;
    }
}
